.log{
    color:aliceblue;
    width:85px;
    }
    .container{
        padding: 40px;
        background-color:rgba(192, 192, 192, 0.8)
    }
    .background-house{
    background-image: url(https://media.revistagq.com/photos/5cfa20d7cb3e974d1a5fc3dd/master/pass/GettyImages-525440005.jpg);
    background-size:cover;
    }
    
    #containerCards{
        padding: 30px;
        background-color:rgba(192, 192, 192, 0.05)
    }